.topBar {
    display: flex;
    justify-content: space-around;
    color: white;
}
.username {
    padding: 20px;
}
.homeContent {
    height: 970px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}
button {
    border-radius: 10%;
    color: white;
    background-color: #132d72;
    padding: 20px;
    border: none;
}
.time {
    border-radius: 10%;
    color: white;
    background-color: tomato;
    padding: 20px;
}
.rightContainer{
    border-radius: 20px;
    border: 3px solid tomato;
    background-color: transparent;
}
.icons{
    font-size: xx-large;
}