.root{
    background-color: #00684c;
    color: whitesmoke;
    border-radius: 10%;
}
.topBar {
    display: flex;
    justify-content: space-around;
    color: white;
}

.username {
    padding: 20px;
}

.homeContent {
    margin-top: 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
}

button {
    border-radius: 10%;
    color: white;
    background-color: #132d72;
    padding: 50px;
    border: none;
}

.time {
    border-radius: 10%;
    color: white;
    background-color: #FF6B00;
    padding: 50px;
}
