.topBar {
    display: flex;
    justify-content: space-around;
    color: white;
}
.container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
.dateSelector {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-around;
}
.text {
    background-color: transparent;
    display: flex;
    /* justify-content: space-around; */
}
.submit{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}
.submitButton{
    padding: 3% 8%;
    margin-top: 10%;
    background-color: teal;
    font-size: medium;
    place-items: right;
}
/* timeselctor */
.dateSelectorDiv{
    background-color: transparent;
}
.datePicker{
    color: white;
}
.pickers{
    color: white;
}
.prompts{
    font-size: medium;
    font-weight: lighter;
    background-color: transparent;
}
/* textField */
.textFieldDiv{
    background-color: transparent;
    margin-top: 10%;
    /* justify-content: left; */
    color: white;
    width: 100%;
}
.textFiledInput{
    color: white !important;
} 
