.CardsFour {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.CardsItemsFour {
    text-align: center;
    display: flex;
    justify-content: space-between;
    /* width: min-content; */
}

.CardsTwoFour {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.CardsItemFour {
    width: 250px;
    display: inline-block;
    /* border-radius: 10px; */
}

.CardsItemBlockFour {
    height: 300px;
    position: relative;
}

.CardsItemFigureFour {
    width: 200px;
    height: 200px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.CardsItemFigureFour h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CardsItemExtraFour {
    width: 200px;
    height: 200px;
    background-color: #A3000A;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.CardsItemExtraFour h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CardsItemTitleFour {
    text-align: center;
}

.CardsItemTotalFour {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 5%);
    width: fit-content;
}

h2 {
    font-weight: lighter;
}