
.App {
  text-align: left;
  background-color: #07192c;
}

.App-header {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(60px + 2vmin);
  color: white;
}


