.header{
    background-color: tomato;
    color: aliceblue;
    background-color: transparent;
    padding: .5% 40% .5% 40%;
    justify-content: center;
    margin: none;
}
.title{
    text-align: center;
}