.root{
    display: grid;
    justify-content: center;
    color: whitesmoke;
}
.hr{
    width: 200%;
    margin-left: -50%;
    padding: none;
}
.header{
    padding-left: 20%;
    color: aliceblue;
}
.title{
    text-align: center;
}
.body{

    justify-content: center;
    color: whitesmoke;
}
.welcomeContainer{
    margin-top: 5%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.buttonContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
/*********************** Button stuff ************************/
.buttonUser{
    background-color: transparent;
    border:none;
    color:#b5b5b5;
    padding: 2% 15%;
    margin-right: 10%;
    width: auto;
    height: auto;
    font-size: 100%;
}
.buttonAdmin{
    background-color: transparent;
    border:none;
    color:#b5b5b5;
    padding: 2% 15%;
    margin-left: 10%;
    width: auto;
    height: auto;
    font-size: 100%;
}
.buttonUserClick{
    background-color: #0d213c;
    border:none;
    color:#b5b5b5;
    padding: 2% 15%;
    margin-right: 10%;
    width: auto;
    height: auto;
    font-size: 100%;
}
.buttonAdminClick{
    background-color: #0d213c;
    border:none;
    color:#b5b5b5;
    padding: 2% 15%;
    margin-left: 10%;
    width: auto;
    height: auto;
    font-size: 100%;
}
.image{
    display: flex;
    justify-content: center;
    opacity: 100%;
}
